{{extend 'layout.html'}}
<script>
  $(document).ready(function() {
    $(".delete-system").on("click", {}, onClickDeleteSystem);
    $("#broken_files").on("click",{}, onClickShow);
    $(".delete-data").on("click", {}, onClickDeleteData);

    function onClickDeleteSystem(event){
      var system = this.id;
      col = "#" + system +"-col";
      $.get("{{=URL("manage_components", "delete_system")}}",
        {
          systemId: system
        },
        function (data, status) {
          if (status == "success") {
            $(col).remove();
          }
        });
    }

    function onClickDeleteData(){
      var dataId = this.id;
      col = "#" + dataId +"-col-file";
      $.get("{{=URL("manage_components", "delete_data")}}",
        {
          dataId: dataId
        },
        function (data, status) {
          if (status == "success") {
            $(col).remove();
          }
        });
    }

    function onClickShow( event ){
      var elment = "#"+String(this.id) + "-hide";
      $(elment).toggle("medium", function(){});
    }
    {{if broken_files:}}
    $(".broken_files").removeClass("fa-leaf");
    $(".broken_files").addClass("fa-fire");
    $(".broken_files").css("color", "red");
    {{pass}}
  } );
</script>
<div data-spy="affix" style="margin-left: -30px">
  <p><h4><a href="#data" >Data</a> <br></h4></p>
  <p><h4><a href="#systems">Systems</a> <br></h4></p>
  <p><h4><a href="#interpreters">Interpreters</a> <br></h4></p>
  <p><h4><a href="#programs">Programs</a> <br></h4></p>
</div>
<div class="container">
  <ol class="breadcrumb">
    <li><a class="btn-block" href="{{=URL('default','index')}}">Home</a></li>
    <li class="active">Component overview</li>
  </ol>
  <div class="jumbotron">
    <h2>Component overview</h2>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <p><i class="fa fa-sitemap"></i> Defined systems: {{=len(db(db.monitutor_systems).select())}}</p>
        <p><i class="fa fa-paperclip"></i> Defined files: {{=len(db(db.monitutor_data).select())}}</p>
        <p><i class="fa fa-cogs"></i> Defined programs: {{=len(db(db.monitutor_programs).select())}}</p>
        <p><i class="fa fa-terminal"></i> Defined interpreters: {{=len(db(db.monitutor_interpreters).select())}}</p>
      </div>
      <div class="col-sm-6">
        <div id="broken_files">
          <p><i class="fa fa-leaf broken_files" style="color: green;"></i> Broken files: {{=len(broken_files)}}</p>
        </div>
        <p><i class="fa fa-cog"></i> Unused programs: {{=len(unused_programs)}}</p>
      </div>
    </div>
  </div>
  {{if len(broken_files):}}
  <div id="broken_files-hide" class="jumbotron" hidden="true">
    <h2>Broken files</h2><br>
    <div class="row">
      {{for broken_file in broken_files.iteritems():}}
      <div id="{{=broken_file[1].data_id}}-col-file" class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{=broken_file[1].name}}
            <i id="{{=broken_file[1].data_id}}" class="fa fa-trash delete-data" style="float: right;"></i>
          </div>
          <div class="panel-body">
            {{=broken_file[1].description}}
          </div>
        </div>
      </div>
      {{pass}}
    </div>
  </div>
  {{pass}}
</div>
<div class="container">
  <div id="data" style="padding-top: 50px">
    <h2>Data</h2>
    <hr>
    {{=LOAD('manage_components','view_data.load',ajax=True)}}
    <a href="{{=URL("manage_components", "add_data")}}" class="btn btn-default">Add File</a>
  </div>
  <div id="systems" style="padding-top: 50px">
    <h2>Systems</h2>
    <hr>
    {{=LOAD('manage_components','view_systems.load',ajax=True)}}
    <p><h3>Add new system:</h3></p>
    <hr>
    {{=LOAD('manage_components','add_system.load', ajax=True)}}
  </div>
  <div id="interpreters" style="padding-top: 50px">
    <h2>Interpreters</h2>
    <hr>
    {{=LOAD('manage_components','view_interp.load', ajax=True)}}
    {{=LOAD('manage_components','add_interp.load', ajax=True)}}
  </div>
  <div id="programs" style="padding-top: 50px">
    <h2>Programs</h2>
    <hr>
    {{=LOAD('manage_components','view_programs.load', ajax=True)}}
    <p><h3>Add new program:</h3></p>
    <hr>
    {{=LOAD('manage_components','add_program.load', ajax=True)}}
  </div>
</div>
