{{extend 'layout.html'}}
<div class="container">
<ol class="breadcrumb">
  <li><a href="{{=URL('default','index')}}">Home</a></li>
  <li><a href="{{=URL('overview','view_scenarios')}}">Scenario Overview</a></li>
  <li class="active">Students</li>
</ol>
    {{for user_s in user_scenario:}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title"
                <h3>
                    {{if auth.has_membership("admin"):}}
                        <button id="{{=user_s.auth_user.id}}-toggle" class="togglePassed" href="#"><i class="fa fa-check"></i></button>
                        {{if user_s.scenario_user.passed is  True:}}
                        <i id="{{=user_s.auth_user.id}}-star" class="fa fa-star"></i>
                        {{else:}}
                        <i id="{{=user_s.auth_user.id}}-star" class="fa fa-star-o"></i>
                        {{pass}}
                    <a href="{{=URL('scenarios','view_milestones', args=[user_s.scenario_user.scenario_id, user_s.auth_user.username])}}">
                    {{=user_s.auth_user.username}} - {{=user_s.auth_user.first_name}} {{=user_s.auth_user.last_name}}
                        </a>
                    {{else:}}
                    {{=user_s.auth_user.last_name}}
                    {{pass}}
                </h3>
            </div>
        </div>
        <div class="list-group-item">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{=user_s.scenario_user.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{=user_s.scenario_user.progress}}%">
                <span class="sr-only">{{=user_s.scenario_user.progress}}% Complete</span>
              </div>
            </div>
        </div>
    </div>
    <br>
    {{pass}}

</div>


<script>
     $(document).ready(function() {
        $(".togglePassed").on("click", {}, togglePassed);
        function togglePassed(event){
            var userId = String(this.id).slice(0,-7);
            var scenarioId = "{{=scenario_id}}"
            $.get("{{=URL("scenarios", "toggle_scenario_done")}}",
                {
                    scenarioId: scenarioId,
                    userId: userId
            }).done(function(){
                var starElementId = "#"+userId+"-star";
                if ($(starElementId).hasClass("fa-star")){
                    $(starElementId).removeClass("fa-star").addClass("fa-star-o");
                }
                else{
                    $(starElementId).removeClass("fa-star-o").addClass("fa-star");
                }
            });
        }
    });
</script>
