{{extend 'layout.html'}}
<div id="host-status" style="position: fixed; right: 10px; top: 100px; z-index: 99">
  {{for host in scenario_info["hosts"]:}}
  <div class="host-status" id="host-status-{{=host.name}}">
  <span class="fa-stack">
    <i class="fa fa-plug fa-stack-1x fa-flip-horizontal"></i>
    <i class="fa fa-ban fa-stack-2x text-danger"></i>
  </span>
  <span class="host-name" style="display: none">{{=host.display_name}}</span>
  <span class="host-output" style="display: none"> - Not connected</span>
  </div>
  {{pass}}
</div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{{=URL('default','index')}}">Home</a></li>
    <li><a href="{{=URL('scenarios','view_available_scenarios')}}">Scenarios</a></li>
    <li class="active">Scenario - {{=scenario_info["display_name"]}}</li>
  </ol>
  <noscript><b>JavaScript is turned off. Please enable JavaScript to view full site.</b></noscript>
  {{if scenario_info["description"] != "" or scenario_info["goal"] != "":}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{=scenario_info["display_name"]}}
    </div>
    <div class="panel-body">
      {{if scenario_info["description"] != "":}}
      <b>Description:</b><br>
      {{=scenario_info["description"]}}<br>
      {{pass}}
      {{if scenario_info["goal"] != "":}}
      <b>Goal:</b><br>
      {{=scenario_info["goal"]}}
      {{pass}}
    </div>
  </div>
  {{pass}}
  {{for milestone in scenario_info["milestones"]:}}
  <div class="panel panel-default" id="panel-{{=milestone.monitutor_milestones.name}}">
    <div class="panel-heading">
      {{=milestone.monitutor_milestones.display_name}}
    </div>
    {{if milestone.monitutor_milestones.description != "":}}
    <div class="panel-body">
      {{=milestone.monitutor_milestones.description}}
    </div>
    {{pass}}
    <ul class="list-group">
      {{for check in scenario_info["checks"][milestone.monitutor_milestones.milestone_id]:}}
      <li class="list-group-item list-group-item-info" id="list-group-item-{{=check.monitutor_checks.name}}">
        <div class="row">
          <div class="col-md-9">
            <i class="fa fa-lg fa-question-circle"></i>
            <span class="check-display-name" style="margin-left: 10px; margin-right: 10px">{{=check.monitutor_checks.display_name}}</span>-
            <span class="check-output"></span>
          </div>
        <div class="col-md-3 text-right">
          {{if check.monitutor_checks.hint != "":}}
          <button class="btn btn-default info-check"
                  id="info-check-{{=check.monitutor_checks.name}}"
                  data-container="body"
                  data-toggle="popover"
                  data-placement="left"
                  data-content="{{=check.monitutor_checks.hint}}">
            <i class="fa fa-info"></i>
          {{pass}}
          </button>
          <a class="btn btn-default refresh-check" id="refresh-check-{{=check.monitutor_checks.name}}"><i class="fa fa-refresh"></i></a>
        </div>
      </li>
      {{pass}}
    </ul>
  </div>
  {{pass}}
</div>
<script src="{{=URL('static','js/stomp.js')}}"></script>
<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
$(".host-status").mouseenter(function(){$(".host-name, .host-output").show().animate()})
                 .mouseleave(function(){$(".host-name, .host-output").hide().animate()});

function getHostStatus(hostName){
  hostName = "{{=session.auth.user.username}}_"+hostName
  $.get("{{=URL('scenarios', 'get_host_status')}}", {hostName: hostName},
    function(data){
      var hostState = JSON.parse(data);
      updateHostStatus(hostState.hostName.slice("{{=session.auth.user.username}}_".length), hostState.state, hostState.output);
    });
}
function getCheckStatus(checkName){
  checkName = "{{=session.auth.user.username}}_"+checkName
  $.get("{{=URL('scenarios', 'get_service_status')}}", {checkName: checkName},
    function(data){
      var checkState = JSON.parse(data);
      updateCheckStatus(checkState.checkName.slice("{{=session.auth.user.username}}_".length), checkState.state, checkState.output);
    });
}

function updateCheckStatus(checkName, state, output){
  var selector = "#list-group-item-"+checkName;
  switch(state){
    case 0:
      $(selector).find(".fa-lg").removeClass().addClass("fa fa-check-circle fa-lg");
      $(selector).removeClass().addClass("list-group-item list-group-item-success");
      $(selector).fadeTo('fast', 0.5).fadeTo('fast', 1.0);
      break;
    case 1:
      $(selector).find(".fa-lg").removeClass().addClass("fa fa-exclamation-circle fa-lg");
      $(selector).removeClass().addClass("list-group-item list-group-item-warning");
      break;
    case 2:
      $(selector).find(".fa-lg").removeClass().addClass("fa fa-exclamation-circle fa-lg");
      $(selector).removeClass().addClass("list-group-item list-group-item-danger");
      break;
    default:
      $(selector).find(".fa-lg").removeClass().addClass("fa fa-question-circle fa-lg");
      $(selector).removeClass().addClass("list-group-item list-group-item-info");
  }
  $(selector).find(".check-output").text(output);
}

function updateHostStatus(hostName, state, output){
  var hostSelector = "#host-status-"+hostName
  if(state==0){
    $(hostSelector).find(".fa-plug").addClass("text-success");
    $(hostSelector).find(".fa-ban").hide();
    $(hostSelector).find(".host-output").text(" - "+output);
  }
  else{
    $(hostSelector).find(".fa-plug").removeClass("text-success");
    $(hostSelector).find(".fa-ban").show();
    $(hostSelector).find(".host-output").text(" - "+output);
  }
  $(".host-name, .host-output").show().animate();
  setTimeout(function() {$(".host-name, .host-output").hide().animate()}, 3000);
}

function connectToRabbit(){
  $.get("{{=URL('scenarios', 'create_rabbit_user')}}", {},
    function(data){
      var credentials = JSON.parse(data);
      var webSocket = new WebSocket('ws://{{=rabbit_mq_config["address"]}}:{{=rabbit_mq_config["port"]}}/ws');
      var client = Stomp.over(webSocket);
      onreceive = function(m) {
        console.log(m);
      }
      var on_connect = function() {
        console.log('connected');
        client.subscribe("/queue/{{=session.auth.user.username}}", onreceive );
      };
      var on_error =  function() {
        console.log('error');
      };
      client.connect("{{=session.auth.user.username}}", credentials.password, on_connect, on_error, '/');
      //client.connect("guest", "guest", on_connect, on_error, '/');
    });
}

{{for host in scenario_info["hosts"]:}}
getHostStatus("{{=host.name}}");
{{pass}}
{{for milestone in scenario_info["milestones"]:}}
{{for check in scenario_info["checks"][milestone.monitutor_milestones.milestone_id]:}}
getCheckStatus("{{=check.monitutor_checks.name}}");
{{pass}}
{{pass}}
</script>
