{{extend "layout.html"}}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{=URL('default','index')}}">Home</a></li>
        <li><a href="{{=URL('manage_scenarios','view_scenarios')}}">Scenario overview</a></li>
        <li>
            <a href="{{=URL('manage_scenarios','view_scenario', args=scenario_id)}}">
                Scenario {{=tutordb.monitutor_scenarios[scenario_id].display_name}}
            </a>
        </li>
        <li>
            <a href="{{=URL('manage_scenarios','view_milestone', args=[milestone_id, scenario_id])}}">
                Milestone {{=tutordb.monitutor_milestones[milestone_id].display_name}}
            </a>
        </li>
        <li class="active">Edit Check</li>
    </ol>
            {{=form}}
    <hr>
{{=LOAD('manage_scenarios','add_target.load',ajax=True, args=checkid)}}
</div>
