{{extend "layout.html"}}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{=URL('default','index')}}">Home</a></li>
        <li><a href="{{=URL('manage_scenarios','view_scenarios')}}">Scenario overview</a></li>
        <li>
            <a href="{{=URL('manage_scenarios','view_scenario', args=scenario_id)}}">
                Scenario {{=db.monitutor_scenarios[scenario_id].name}}
            </a>
        </li>
        <li>
            <a href="{{=URL('manage_scenarios','view_milestone', args=[milestone_id, scenario_id])}}">
                Milestone {{=db.monitutor_milestones[milestone_id].name}}
            </a>
        </li>
        <li class="active">Edit Check</li>
    </ol>
    <div class="row">
      <div class="col-md-6 col-xs-12">
      <h3>Edit Check</h3>
            {{=form}}
      </div>
      <div class="col-md-6 col-xs-12">
      <h3>Add Attachment</h3>
            {{=attachment_form}}
      </div>
    </div>
    {{=LOAD('manage_scenarios','view_attachment.load',ajax=True, args=checkid)}}
</div>
