{{extend 'layout.html'}}
<script>
  $(document).ready(function() {
    $("#edit").click(function () {
      $("#Form1").toggle("medium", function () {
      });
    });
    $( "#new_milestone" ).click(function() {
      $( "#add_milestone" ).toggle( "medium", function() {
      });
    });
    $( "#new_milestone_ref" ).click(function() {
      $( "#add_milestone_ref" ).toggle( "medium", function() {
      });
    });
  });
</script>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{{=URL('default','index')}}">Home</a></li>
    <li><a href="{{=URL('manage_scenarios','view_scenarios')}}">Scenario overview</a></li>
    <li class="active">Scenario {{=scenario.name}}</li>
  </ol>
  <div class="jumbotron">
    <h2>Scenario - {{=scenario.name}}</h2>
    <hr>
    <h4>Description:</h4>
    {{=scenario.description}}
    <h4>Goal:</h4>
    {{=scenario.goal}}
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Milestones</h3>
    </div>
    {{for milestone in milestones:}}
    <div class="list-group-item">
      <a href="{{=URL('manage_scenarios','remove_milestone',
               args=[milestone.milestone_id])}}">
        <i class="fa fa-trash" style="float: right;"></i>
      </a>
      {{if milestone.hidden == 1:}}
      <a href="{{=URL('manage_scenarios','hide_milestone',
        args=[milestone.milestone_id, "0"])}}">
        <i class="fa fa-eye" style="float: right; margin-right: 10px;"></i>
      </a>
      {{else:}}
      <a href="{{=URL('manage_scenarios','hide_milestone',
        args=[milestone.milestone_id, "1"])}}">
        <i class="fa fa-eye-slash" style="float: right; margin-right: 10px;"></i>
      </a>
      {{pass}}
      {{if milestone.order == 0:}}
      <a href="{{=URL('manage_scenarios','lower_milestone',
      args=[milestone.milestone_id, "0"])}}">
        <i class="fa fa-arrow-down" style="float: right; margin-right: 10px;"></i>
      </a>
      {{else:}}
      <a href="{{=URL('manage_scenarios','lower_milestone',
      args=[milestone.milestone_id, "1"])}}">
        <i class="fa fa-arrow-up" style="float: right; margin-right: 10px;"></i>
      </a>
      <a href="{{=URL('manage_scenarios','lower_milestone',
      args=[milestone.milestone_id, "0"])}}">
        <i class="fa fa-arrow-down" style="float: right; margin-right: 10px;"></i>
      </a>
      {{pass}}
      <a href="{{=URL('manage_scenarios','view_milestone', args=[milestone.milestone_id])}}">
        {{=milestone.name}}
      </a>
    </div>
    {{pass}}
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="btn-group btn-group-justified" role="group" aria-label="Navigation">
        <div id="new_milestone" class="btn-group" role="group">
          <div class="btn btn-default">
            Add new milestone
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div id="add_milestone" hidden="True">
    {{=LOAD('manage_scenarios','add_milestone.load',ajax=True, args=scenario.scenario_id)}}
  </div>
  <hr>
  {{if data is not None:}}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Attached data
            <a href="{{=URL('manage_components','attach_data',
            args=scenario.scenario_id)}}"
               style="float: right" >
               <i class='fa fa-plus' ></i>
            </a>
          </h3>
        </div>
        {{for row in data:}}
        <div class="list-group-item">
          <i id="{{=row.monitutor_data.data_id}}-info"
             class='fa fa-info-circle' style="float: right" ></i>
          {{=row.monitutor_data.name}}
        </div>
        <!-- Script to toggle the Edit Form! One for each entry-->
        <script type="text/javascript">
          $( "#{{=row.monitutor_data.data_id}}-info" ).click(function() {
            $( "#{{=row.monitutor_data.data_id}}-show" ).toggle( "medium", function(){});
          }
          );
        </script>
        {{pass}}
      </div>
    </div>
  </div>
  {{pass}}
</div>
<hr>
<div class="row">
  {{for row in data:}}
  <div id="{{=row.monitutor_data.data_id}}-show" class="col-md-4" hidden="False">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{{=URL('default','download', args=row.monitutor_data.data)}}" >
          <i class='fa fa-download' style="float: right;"></i>
        </a>
        <h3 class="panel-title">
          {{=row.monitutor_data.name}}
        </h3>
      </div>
      <div class="panel-body">
        <b>Description:</b>
        <br>
        {{=row.monitutor_data.description}}
        </br>
      </div>
    </div>
  </div>
  {{pass}}
</div>



