<style xmlns="http://www.w3.org/1999/html">
    tr.hover-whitesmoke:hover {background-color: whitesmoke;}
</style>

{{extend 'layout.html'}}
<script>
 $(document).ready(function() {
     $(".fa.fa-edit").on("click", {}, onClickShow);
     $("#orphan-milestones").on("click",{}, onClickShow);
     $("#orphan-checks").on("click",{}, onClickShow);
     $(".btn").on("click", {}, onClickShow);
     $(".delete-milestone").on("click", {}, onClickDeleteMilestone);
     $(".delete-check").on("click", {}, onClickDeleteCheck);
     $(".delete-scenario").on("click", {}, onClickDeleteScenario);

     function onClickDeleteScenario( event ) {
         var confirm = window.confirm("Are you sure you want to delete the Scenario?");
         var scenarioId = String(this.id).slice(0,-7);
         if (!confirm) {
             return;
         }
         $.get("{{=URL("manage_scenarios", "delete_scenario")}}",
                    {
                        scenarioId: scenarioId
                    },
                 function (data, status) {
                     if (status == "success") {
                            $("#"+ String(scenarioId) + "-tr").remove();
                        }
                    });
     }

     function onClickShow( event ){
         var elment = "#"+String(this.id) + "-hide";
         $(elment).toggle("medium", function(){});
     }

     function onClickDeleteMilestone(event){
         var milestone = this.id;
         col = "#" + milestone +"-col";
         $.get("{{=URL("manage_scenarios", "delete_milestone")}}",
                    {
                        milestoneId: milestone
                    },
                 function (data, status) {
                     if (status == "success") {
                            $(col).remove();
                        }
                    });

     }

     function onClickDeleteCheck(event){
         var check = this.id;
         col = "#" + check + "-col";
         $.get("{{=URL("manage_scenarios", "delete_check")}}",
                    {
                        checkId: check
                    },
                 function (data, status) {
                     if (status == "success") {
                            $(col).remove();
                        }
                    });

     }
 });
</script>
<div id="top" class="container">
    <ol class="breadcrumb">
      <li><a class="btn-block" href="{{=URL('default','index')}}">Home</a></li>
      <li class="active">Scenario overview</li>
    </ol>
    <div class="jumbotron" style="text-align: left">
        <h2>Scenario overview</h2>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <p><i class="fa fa-tachometer"></i> Defined scenarios: {{=len(scenarios)}}</p>
                <p><i class="fa fa-users"></i> Registered users: {{=len(tutordb(tutordb.auth_user).select())}}</p>
                <div id="orphan-checks">
                    <p>
                        <i class="fa
                            {{if orphan_check_count:}}
                                fa-bolt" style="color: red"
                            {{else:}}
                                fa-leaf" style="color: green"
                            {{pass}}
                            >
                        </i> Orphan checks:  {{=orphan_check_count}}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <p><i class="fa fa-tachometer"></i> Visible scenarios: {{=len(tutordb(tutordb.monitutor_scenarios.hidden == False).select())}}</p>
                <div id="orphan-milestones">
                    <p><i class="fa
                    {{if orphan_milestone_count:}}
                        fa-bolt" style="color: red"
                    {{else:}}
                        fa-leaf" style="color: green"
                    {{pass}}
                ></i> Orphan Milestones: {{=orphan_milestone_count}}</p></div>
            </div>
        </div>
    </div>
    {{if orphan_milestone_count:}}
    <div id="orphan-milestones-hide" class="jumbotron" hidden="True">
        <h2>Orphan milestones</h2><br>
        <div class="row">
            {{for orphan_milestone in orphan_milestones:}}
                <div id="{{=orphan_milestone.monitutor_milestones.milestone_id}}-col" class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{=orphan_milestone.monitutor_milestones.display_name}}
                            <i
                                id="{{=orphan_milestone.monitutor_milestones.milestone_id}}"
                                class=" fa fa-trash delete-milestone" style="float: right;"></i>
                        </div>
                        <div class="panel-body">
                            {{=orphan_milestone.monitutor_milestones.description}}
                                <hr>
                            <h5><b>Checks:</b></h5>
                        </div>
                        <ul class="list-group">
                            {{for check in tutordb((tutordb.monitutor_check_milestone.milestone_id ==
                                                   orphan_milestone.monitutor_milestones.milestone_id) &
                                                   (tutordb.monitutor_check_milestone.check_id ==
                                                   tutordb.monitutor_checks.check_id)).select():}}
                            <li class="list-group-item">{{=check.monitutor_checks.display_name}}</li>
                            {{pass}}
                        </ul>
                    </div>
                </div>

            {{pass}}
        </div>
    </div>
    {{pass}}
    {{if orphan_check_count:}}
    <div id="orphan-checks-hide" class="jumbotron" hidden="False">
        <h2>Orphan checks</h2><br>
        <div class="row">
            {{for orphan_check in orphan_checks:}}
                <div id="{{=orphan_check.monitutor_checks.check_id}}-col" class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{=orphan_check.monitutor_checks.display_name}}
                            <i id="{{=orphan_check.monitutor_checks.check_id}}"
                                class="fa fa-trash delete-check" style="float: right;"></i>
                        </div>
                        <div class="panel-body">
                            {{=orphan_check.monitutor_checks.name}}
                                <hr>
                            <h5><b>Parameters:</b></h5>
                            {{=orphan_check.monitutor_checks.params}}
                        </div>
                    </div>
                </div>
            {{pass}}
        </div>
    </div>
    {{pass}}

</div>
            {{=LOAD('manage_scenarios','view_scenarios.load', ajax=True)}}

