{{extend 'layout.html'}}
<script>
  $(document).ready(function() {
    $( "#edit" ).click(function() {
      $( "#edit_milestone" ).toggle( "medium", function() {
      });
    });
    $( "#new_check" ).click(function() {
      $( "#add_check" ).toggle( "medium", function() {
      });
    });
    $( "#existing_check" ).click(function() {
      $( "#add_existing_check" ).toggle( "medium", function() {
      });
    });
    $(".fa.fa-info-circle").on("click", {}, onClickToggle);
    function onClickToggle(event){
      var element = "#" + this.id + "-hidden";
      $(element).toggle("medium", function(){});
    }
  });
</script>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{{=URL('default','index')}}">Home</a></li>
    <li><a href="{{=URL('manage_scenarios','view_scenarios')}}">Scenario overview</a></li>
    <li><a href="{{=URL('manage_scenarios','view_scenario', args=scenario_id)}}">Scenario {{=scenario.name}}</a></li>
    <li>Milestone {{=milestone.name}}</li>
  </ol>

  <div class="jumbotron">
    <h2>Milestone - {{=milestone.name}}</h2>
    <hr>
    <h4>Description:</h4>
    {{=milestone.description}}
    <br>
    <button id="edit" class="btn btn-default" style="float: right; ">
      Edit <i class="fa fa-pencil" ></i>
    </button>
  </div>
  <div hidden="True" id="edit_milestone" style="margin: 10px" >
    {{=LOAD('manage_scenarios','edit_milestone_form.load', ajax=True, args=milestone_id)}}
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Checks
        <button class="btn btn-default" id="new_check" style="float: right;">
           Add <i class="fa fa-plus"></i>
        </button>
      </h3>
    </div>
    <div class="panel-body">
      <div hidden="True" id="add_check" style="margin: 10px" >
        {{=LOAD('manage_scenarios','add_check.load', ajax=True, args=milestone_id)}}
      </div>
      <div hidden="True" id="add_existing_check" style="margin: 10px" >
        {{=LOAD('manage_scenarios','add_existing_check.load', ajax=True, args=milestone_id)}}
      </div>
      {{for check in checks:}}
      {{details = check_details[check.check_id]}}
      <div class="list-group-item">
        <a href="{{=URL('manage_scenarios','remove_check',args=[check.check_id])}}">
          <i class="fa fa-trash" style="float: right;"></i>
        </a>
        {{if check.hidden == 1:}}
        <a href="{{=URL('manage_scenarios','hide_check',
        args=[check.check_id, "0"])}}">
          <i class="fa fa-eye" style="float: right; margin-right: 10px;"></i>
        </a>
        {{else:}}
        <a href="{{=URL('manage_scenarios','hide_check',
        args=[check.check_id, "1"])}}">
          <i class="fa fa-eye-slash" style="float: right; margin-right: 10px;"></i>
        </a>
        {{pass}}
        {{if check.order == 0:}}
        <a href="{{=URL('manage_scenarios','lower_check',
        args=[check.check_id, "0"])}}">
          <i class="fa fa-arrow-down" style="float: right; margin-right: 10px;"></i>
        </a>
        {{else:}}
        <a href="{{=URL('manage_scenarios','lower_check',
        args=[check.check_id, "1"])}}">
          <i class="fa fa-arrow-up" style="float: right; margin-right: 10px;"></i>
        </a>
        <a href="{{=URL('manage_scenarios','lower_check',
        args=[check.check_id, "0"])}}">
          <i class="fa fa-arrow-down" style="float: right; margin-right: 10px;"></i>
        </a>
        {{pass}}
        <a href="{{=URL('manage_scenarios','edit_check',
        args=[check.check_id])}}">
          {{=check.order}}. {{=check.display_name}}
          {{if check.params is not "":}}
          - {{=check.params}}
          {{pass}}
        </a>
        <i id="{{=check.check_id}}-info"
           class='fa fa-info-circle'
           style="float: right; margin-right: 10px" ></i>
      </div>
      <div id="{{=check.check_id}}-info-hidden"
           class="list-group-item list-group-item-warning"
           id="{{=check.check_id}}-show" style="display: none;">
        <p>
        <b>Program:</b><br>
        {{=details.monitutor_programs.display_name}}
        </p>
        <p>
        <b>Executed check:</b><br>
        {{=details.monitutor_interpreters.path}} {{=details.monitutor_programs.name}} {{=check.params}}
        </p>
        <p>
        <b>Hint:</b>
        {{=check.hint}}
        </p>
      </div>
      {{pass}}
    </div>
  </div>
</div>
