<style xmlns="http://www.w3.org/1999/html">
  tr.hover-whitesmoke:hover {background-color: whitesmoke;}
</style>
{{extend 'layout.html'}}
<script>
 $(document).ready(function() {
   $(".fa.fa-edit").on("click", {}, onClickShow);
   $(".btn").on("click", {}, onClickShow);
   $(".delete-scenario").on("click", {}, onClickDeleteScenario);
   $(".showScenarioButton").on("click", {}, showScenario);
   $(".hideScenarioButton").on("click", {}, hideScenario);
   function onClickDeleteScenario( event ) {
     var confirm = window.confirm("Are you sure you want to delete the Scenario?");
     var scenarioId = String(this.id).slice(0,-7);
     if (!confirm) {
       return;
     }
     $.get("{{=URL("manage_scenarios", "delete_scenario")}}",
       {
         scenarioId: scenarioId
       },
       function (data, status) {
         if (status == "success") {
           $("#"+ String(scenarioId) + "-tr").remove();
         }
       });
   }

   function onClickShow( event ){
     var elment = "#"+String(this.id) + "-hide";
     $(elment).toggle("medium", function(){});
   }

   function onClickDeleteScenario( event ) {
     var confirm = window.confirm("Are you sure you want to delete the Scenario?");
     var scenarioId = String(this.id).slice(0,-7);
     if (!confirm) {
       return;
     }
     $.get("{{=URL("manage_scenarios", "delete_scenario")}}",
       {
         scenarioId: scenarioId
       },
       function (data, status) {
         if (status == "success") {
           $("#"+ String(scenarioId) + "-tr").remove();
         }
       });
   }
   function onClickShow( event ){
     var elment = "#"+String(this.id) + "-hide";
     $(elment).toggle("medium", function(){});
   }

   function hideScenario( event ){
     var scenarioId = String(this.id).slice(0,-5);
     $.get("{{=URL("manage_scenarios", "hide_scenario")}}",
       {
         scenarioId: scenarioId
       },
       function (data, status) {
         location.reload();
       });
   }

   function showScenario( event ){
     var scenarioId = String(this.id).slice(0,-5);
     $.get("{{=URL("manage_scenarios", "show_scenario")}}",
       {
         scenarioId: scenarioId
       },
       function (data, status) {
         location.reload();
       });
   }

 });
</script>
<div id="top" class="container">
  <ol class="breadcrumb">
    <li><a class="btn-block" href="{{=URL('default','index')}}">Home</a></li>
    <li class="active">Scenario overview</li>
  </ol>
  <div class="jumbotron" style="text-align: left">
    <h2>Scenario overview</h2>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <p><i class="fa fa-tachometer"></i> Defined scenarios: {{=len(scenarios)}}</p>
        <p><i class="fa fa-users"></i> Registered users: {{=len(db(db.auth_user).select())}}</p>
      </div>
      <div class="col-sm-6">
        <p><i class="fa fa-eye"></i> Visible scenarios: {{=len(db(db.monitutor_scenarios.hidden == False).select())}}</p>
      </div>
    </div>
  </div>
</div>
<script>
 $(document).ready(function() {
 });
</script>
<table class="table">
  {{counter=1}}
  {{for scenario in scenarios:}}
  <tr class="hover-whitesmoke" id="{{=scenario.scenario_id}}-tr">
    <td class="col-sm-2">
      <a href="{{=URL('manage_scenarios', 'view_scenario.html', args=scenario.scenario_id)}}">
        {{=scenario.name}}
      </a>
    </td>
    <td class="col-sm-7">
      {{=scenario.description}}
      <div id="{{=scenario.scenario_id}}-hide" hidden="False">
        <br>
        {{=LOAD('manage_scenarios','edit_scenario.load',ajax=True, args=scenario.scenario_id)}}
      </div>
    </td>
    <td class="col-sm-3">
      <div class="btn-group" role="group" aria-label="scenario action">
        <button type="button" class="btn btn-default" id="{{=scenario.scenario_id}}" style="margin-right: 0px;">
          <i class="fa fa-edit"></i> Edit
        </button>
        <button type="button" class="btn btn-default" href="{{=URL('manage_scenarios', 'get_scenario', args=scenario.scenario_id)}}"
             download="{{=scenario.name}}.json" style="margin-right: 0px;">
          <i class="fa fa-download export-scenario"></i> Export
        </button>
        {{if scenario.hidden is True:}}
        <button type="button" class="btn btn-default showScenarioButton" id="{{=scenario.scenario_id}}-show" style="margin-right: 0px;">
          <i class="fa fa-eye-slash"></i> Show
        </button>
        {{else:}}
        <button type="button" class="btn btn-success hideScenarioButton" id="{{=scenario.scenario_id}}-hide" style="margin-right: 0px;">
          <i class="fa fa-eye"></i> Hide
        </button>
        {{pass}}
        <button type="button" class="btn btn-danger delete-scenario" id="{{=scenario.scenario_id}}-sc-del" style="margin-right: 0px;">
          <i class="fa fa-trash"></i> Delete
        </button>
      </div>
    </td>
  </tr>
  {{pass}}
</table>
<br>
<h3>
  <div id="new" class="btn btn-default">
    <i class="fa fa-plus"></i><b>Add Scenario</b>
  </div>
</h3>
<div id="new-hide" hidden="True" style="margin-top:10px">
  {{=new_scenario_form.custom.begin}}
  <div class="input-group">
    <span class="input-group-addon" style="width: 100px; text-align: left">Name</span>
    <input class="form-control" type="text" name="name"></input>
  </div>
  <br>
  <br>
  <b>Description:</b>
  <textarea class="form-control" type="text" name="description"></textarea>
  <br>
  <b>Goal</b>
  <textarea class="form-control" type="text" name="goal"></textarea>
  <br>
  {{=new_scenario_form.custom.submit}}
  {{=new_scenario_form.custom.end}}
  <h3>
    <a href="{{=URL("manage_scenarios","upload_scenario.html")}}" id="import"
                                                                  class="btn btn-default">
      <i class="fa fa-plus"></i>
      <b>Import Scenario</b>
    </a>
  </h3>
